{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <header>
        {% include "home/header.html.twig" %}
    </header>
    <main>
        <div class="container-search"  :keyup="searchEmail">
            <input id="search-email" type="text" placeholder="Search by email">
        </div>
        <div class="users-list" v-for="email in emails">
            <input class="user-info-email" type="button" v-on:click="getEmail" :value="email.email">
        </div>
    </main>
    <script type="text/javascript" src="{{ asset('/bundles/home/main.js') }}"></script>
{% endblock %}
